@model CoreWebProject.Models.Dinleyiciler
<div class="container" style="margin-top:100px">
<h3>Silmek istediğinize emin misiniz?</h3>
<div class="mb-5">
    <h4>Dinleyiciler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ad Soyad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>
        <dt class = "col-sm-2">
            Koltuk No
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KoltukNo)
        </dd>
        <dt class = "col-sm-2">
            Yaş
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yas)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="mt-4">
        <input type="hidden" asp-for="DinleyiciId" />
        <input type="submit" value="Delete" class="btn btn-primary" />
        <a asp-action="Index">Geri Dön</a>
    </form>
</div>
</div>